body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #564030;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 20px 250px;
    padding: 70px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;

}

.border_form {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: min-content;
    padding: 20px;
    margin-bottom: 40px;
    border: 2.5px solid #795b53;
    flex-direction: column;
    padding-bottom: 70px;

}

.input_button {
    width: 500px;
    height: 50px;
    font-size: 25px;
    margin-top: -20px;
    color: rgba(121, 91, 83, 0.75);
    text-decoration-line: none;
    border-radius: 5px;
    border: 2px solid #795b53;
    background-color: rgba(180, 153, 135, 0.3);
    padding-left: 20px;
}

input {
    border: 2px solid #795b53;
}

input:focus {
    outline: none;
    border: 2px solid #795b53;
}

::placeholder {
    color: rgba(121, 91, 83, 0.75);
}

.input_button::-webkit-calendar-picker-indicator {
    filter:  hue-rotate(60deg) opacity(0.44);
    transform: translateX(-15px);
}

.input_button_photo {
    width: 500px;
    height: 34px;
    font-size: 25px;
    margin-top: -20px;
    color: rgba(121, 91, 83, 0.75);
    text-decoration-line: none;
    border-radius: 5px;
    border: 2px solid #795b53;
    background-color: rgba(180, 153, 135, 0.3);
    padding-left: 20px;
}

.click_button {
    display: inline-block;
    padding: 40px 70px;
    background-color: rgba(121, 91, 83, 0.44);
    color: white;
    border: 2.5px solid rgba(121, 91, 83, 0.51);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 230px;
    font-size: 30px;
}

.click_button:hover {
    background-color: rgba(121, 91, 83, 1);
}

label {
    padding: 30px;
    color: #795b53;
    font-size: 30px;
}

.dropdown_button {
    width: 500px;
    height: 50px;
    font-size: 25px;
    margin-top: -20px;
    margin-bottom: 20px;
    color: rgba(121, 91, 83, 0.75);
    text-decoration-line: none;
    border-radius: 5px;
    border: 2px solid #795b53;
    background-color: rgba(180, 153, 135, 0.3);
    padding-left: 20px;
}
